# Core Frameworks / Libraries
Django
django-ninja
pydantic       # Технически зависимость Ninja, но лучше указать явно
django-ninja-jwt[crypto]
django-tenants==3.7.0
djangorestframework==3.14.0 # Оставляем, но см. Примечание 1
django-cors-headers
drf-spectacular==0.28.0   # Зависит от djangorestframework

# Database Driver
psycopg[binary]   # Была psycopg2-binary==2.9.10

# Utilities / Helper Apps
rav
django-extensions==3.2.3
django-schema-graph==3.1.0
python-dotenv==1.1.0      # Для .env файлов