# Core Frameworks / Libraries
Django==5.2.7
django-ninja
pydantic       # Технически зависимость Ninja, но лучше указать явно
django-ninja-jwt[crypto]
django-tenants==3.9.0
djangorestframework==3.16.1 # Оставляем, но см. Примечание 1
django-cors-headers
drf-spectacular==0.29.0   # Зависит от djangorestframework
pillow==12.0.0

# Database Driver
psycopg[binary]   # Была psycopg2-binary==2.9.10

# Utilities / Helper Apps
rav
django-extensions==3.2.3
django-schema-graph==3.1.0
python-dotenv==1.1.0      # Для .env файлов