{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Заголовок и подключение стилей -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'crm/css/index.css' %}" />
    <script src="{% static 'crm/js/index.js' %}"></script>
    <title>{% block title %}{{ title|default:"CRM System" }}{% endblock title %}</title>
</head>
<body>
    
    <!-- Блок сообщений -->
    {% if messages %}
    {% for message in messages %}
        <div class="popup-message {{ message.tags }}">
            {{ message }}
            <button class="close">&times;</button>
        </div>
    {% endfor %}
    {% endif %}

    <!-- Основное содержимое страницы -->
    {% block content %}
    {% endblock content %}

</body>
</html>